.header__logo {
  background-image: url("../../../images/logo-white.svg");
  width: 142px;
  height: 33px;
  margin-block-end: 41px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 660px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin-block-end: 31px;
  }
}
