.profile__avatar-container {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-inline-end: 30px;
}

@media screen and (max-width: 900px) {
    .profile__avatar-container {
        margin: 0 auto 26px;
    }
}
