.profile__caption {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
  .profile__caption {
    width: 220px;
    justify-self: end;
    margin: 0 15px 34px 0;
    text-align: right;
  }
}

@media screen and (max-width: 660px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
  }
}
